/* Reset Css */

@import '../../node_modules/reset-css/reset.css';

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap');;



/* Global */

:root{
    --text-color: #33333333;
    --primary-color: #0BBFAE;
    --shadow-color: rgba(19, 182, 255, 0.24);
}

html {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Kanit, sans-serif";
    line-height: 1.5rem;
} 


/* Container */

.container {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* NavBar */

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

}
.nav-container {
    display: flex;
    justify-content: center;
}

.nav-logo {
    display: flex;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.logo-icon{
    color: var(--primary-color);
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}
.nav-menu-items {
    list-style: none;
    padding-left: 0 ;
    margin-left: 4rem;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
 }
.nav-menu-items:first-child {
    margin-left: 0;
}
.menu-link:hover {
    color: rgba(156, 124, 124, 0.304);
}
.home{
    color: var(--primary-color);
}
.menu-link {
    text-decoration: none;
    color: inherit;
    transition: all 100ms ease-in;
}
.btn-nav{
    display: flex;
    margin-left: 2rem;
}
.btn{
    font-size: 1.4rem;
    color: #fff;
    border-radius: 4rem;
    cursor: pointer;
    border: none;
    margin-left: 2rem;
    transition: all 500ms ease-in;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.link-style {
    text-decoration: none; 
    color: inherit; 
    
  }
.btn:hover {
    transform: scale(1.04,1.05);
}

.nav__toggle_menu {
    display: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.nav__toggle-menu-line {
    width: 3rem;
    height: .5rem;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 2rem;
    transition: all 100ms ease-in;
    
}
.nav__toggle-menu-line::before, .nav__toggle-menu-line::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: .5rem;
    background-color: var(--primary-color);
    top: -.75rem;
    border-radius: 2rem;
    transition: all 150ms ease-in;
    
    
    
}
.nav__toggle-menu-line::after {
    top: .75rem;
}

.menu-toggle-open {
    width: 3rem;
    height: .5rem;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 2rem;
    transition: all 100ms ease-in;
    background-color: transparent;
}
.menu-toggle-open::before, .menu-toggle-open::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: .5rem;
    background-color: var(--primary-color);
    top: -.75rem;
    border-radius: 2rem;
    transition: all 150ms ease-in;
    transform: translateY(.75rem) rotate(45deg);
    
    
}
.menu-toggle-open::after {
    top: .75rem;
    transform: translateY(-0.75rem) rotate(-45deg);
}

/*Home Page*/
.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 20px; 
  }
  
  .container img {
    max-width: 100%; 
    margin-right: 5px; 
  }

  .container h2,
  .container p {
    margin-left: 60px; 
  }
  



/* TaskApp */


.create__task {
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}
.create__task label {
  text-align: left;
  display: block;
}
.create__task h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.create__task input, .create__task textarea, .create__task select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: #e2fffd;
  box-sizing: border-box;
  display: block;
}
.create__task button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}






/* Responsive Part */


@media screen and (max-width: 1200px) {


    
}
@media screen and (max-width: 992px) {
    .btn-nav{
        margin-left: 0;
    }


    
}
@media screen and (max-width: 768px) {
    .btn-nav{
        margin-top: 2rem;
    }
    .btn-sign-in{
        margin-left: 0;
    }
    

    
}
@media screen and (max-width: 576px) {
    .nav__menu, .nav-logo{
        margin-top: 1rem;
    }
    .nav-menu-items {
        font-size: 1rem;
    }
    

}
@media screen and (max-width: 374px) {
    .nav__menu {
        display: none;
    }
    .btn-nav{
        display: none;
    }
    .nav__toggle_menu {
        display: flex;
    }
    .nav-menu-items{
        display: inline;
    }
    .nav-menu-parent {
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 100%;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        transition: all 150ms ease-in;
        height: 0;
        overflow-y: auto
        
    }
    .menu-open {
        height: 216px;

    }
    .nav-menu-items{
        margin:0;
        margin-bottom: 1rem;
        align-items: center;      
        text-align: center;
    }
    .nav-menu-items:first-child {
        margin-top: 1rem;
    }

}

/* React DatePicker  */


.react-datepicker-wrapper {
    display: flex !important;
    align-items: center;
}

.react-datepicker__navigation {
    align-items: normal !important;
}

