/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap');;



/* Global */

html {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Kanit, sans-serif";
    line-height: 1.5rem;
} 

/* Container */

.container {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* NavBar */

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

}
.nav-container {
    display: flex;
    justify-content: center;
}

.nav-logo {
    display: flex;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}



.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}
.nav-menu-items {
    list-style: none;
    padding-left: 0 ;
    margin-left: 4rem;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
 }
.nav-menu-items:first-child {
    margin-left: 0;
}
.menu-link:hover {
    color: rgba(156, 124, 124, 0.304);
}
.menu-link {
    text-decoration: none;
    color: inherit;
}
.btn-nav{
    display: flex;
    margin-left: 2rem;
}
.btn{
    font-size: 1.4rem;
    color: #fff;
    border-radius: 4rem;
    cursor: pointer;
    border: none;
    margin-left: 2rem;
    transition: all 500ms ease-in;
    box-shadow: 0 0.5rem 1rem #0abead26;
}
.btn:hover {
    transform: scale(1.04,1.05);
}

/* TaskApp */



.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #0abead26;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #03efd826;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #0bf8e026;
}
.blog-preview h2 {
  font-size: 20px;
  color: #0abead26;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #0abead26;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #0abead26;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #0abead26;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #0abead26;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
