.task-app {
    display: block;
    max-height: 100vh;
    overflow-x: hidden;
}





.task-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
}

.task-nav .logo svg {
    margin: 10px 50px 10px 50px;
}

.task-nav .profile {
    margin: 20px 50px 20px 50px;
    text-align: center;
}

.task-nav .profile p {
    margin: auto;
}





.task-main {
    display: flex;
    margin-top: 15px;
    min-height: 87vh;
    max-height: 87vh;
}





.task-sidebar {
    width: 15%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;
}

.sidebar-items ul {
    padding: 5px;
}

.sidebar-items li {
    display: flex;
    width: 80%;
    justify-content: left;
    align-items: center;
    margin-top: auto;
    border: none;
    border-radius: 4rem;
    font-size: 16px;
    cursor: pointer;
    
}

.sidebar-items li:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-items p {
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    text-decoration: none;
    color: #0BBFAE;
    cursor: pointer;
    vertical-align: middle;
}





.task-display {
    display: flex;
    flex-direction: row;
    width: 85%;
    max-height: 100%;
    min-height: 100%;
}

.task-overview::-webkit-scrollbar-button:end {
    height: 50px; 
    width:30%;
}

.task-overview::-webkit-scrollbar-button:start { 
    height: 50px; 
    width:30%;
}

.task-overview.show {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 97.5%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;

    transition: width 0.2s ease-out;
}

.task-overview.hidden {
    width: 35%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 97.5%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;

    transition: width 0.2s ease-out;
}



.task-overview-item {
    width: 95%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.task-detail.show {
    height: 90%;
    width: 65%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 97.5%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ddd;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;

    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    visibility: visible;
    position: relative;
}

.task-detail.hidden {
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
    position: absolute; 
}

